<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{fragment/head_fragment :: head('Список товаров')}"></th:block>
<body>
<th:block th:replace="~{fragment/header_fragment :: header}"></th:block>
<main>
    <form th:method="GET" th:action="@{/data/products/filter{categoryName}(categoryName = ${category})}" th:object="${category}">
        <label for="category">
            <input type="text" id="category" th:name="categoryName"  th:value="${category}" placeholder="Введите название продукта...">
            <input type="submit" value="Отфильтровать">
        </label>
    </form>

    <br/>

    <th:block th:each="product : ${products}">
        <p>Категория: <b th:text="${product.getCategory().getName()}"/></p>
        <p>Название: <a th:href="@{/products/{id}(id = ${product.getId()})}" th:text="${product.getName()}"/></p>
        <p>Стоимость: <b th:text="${product.getPrice()}"/></p>
        <a th:href="@{/products/edit/{id}(id = ${product.getId()})}" class="btn btn-outline-success" th:classappend="${#authorization.expr('hasRole(''admin'')') ? '' : 'disabled'}">Редактировать</a>
        <a th:href="@{/products/{id}/feedbacks(id = ${product.getId()})}" class="btn btn-outline-success" th:classappend="${#authorization.expr('hasRole(''admin'')') ? '' : 'disabled'}">Посмотреть отзывы</a>
        <hr>
    </th:block>
</main>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>