<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Products list</title>
</head>
<body>
    <form th:method="GET" th:action="@{/data/products/filter{categoryName}(categoryName = ${category})}" th:object="${category}">
        <label for="category">
            <input type="text" id="category" th:name="categoryName"  th:value="${category}" placeholder="Введите название продукта...">
            <input type="submit" value="Отфильтровать">
        </label>
    </form>

    <br/>

    <th:block th:each="product : ${products}">
        <p>Категория: <b th:text="${product.getCategory().getName()}"/></p>
        <p>Название: <a th:href="@{/products/{id}(id = ${product.getId()})}" th:text="${product.getName()}"/></p>
        <p>Стоимость: <b th:text="${product.getPrice()}"/></p>
        <a th:href="@{/products/edit/{id}(id = ${product.getId()})}">Редактировать</a>
        <hr>
    </th:block>

    <a href="/products/create">Создать продукт</a>
    <a href="/basket/1">Перейти в корзину</a> <!--Замоканный айди для пользователя-->
</body>
</html>