<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
</head>
<body>
<th:block th:each="basket : ${baskets}">
    <p>Название товара: <span th:text="${basket.product.name}"></span></p>
    <p>Цена: <span th:text="${basket.product.price}"></span> тг.</p>
    <p>Количество: <span th:text="${basket.amount}"></span> шт.</p>
    <form th:action="@{/basket/{id}/increase(id = ${basket.id})}" th:method="POST">
        <button type="submit">+</button>
    </form>
    <form th:action="@{/basket/{id}/decrease(id = ${basket.id})}" th:method="POST">
        <button type="submit">-</button>
    </form>
    <form th:action="@{/basket/{id}(id = ${basket.id})}" th:method="DELETE">
        <button type="submit">Удалить товар</button>
    </form>
    <hr>
</th:block>
</body>
</html>