<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="~{fragment/head_fragment :: head('Корзина')}"></th:block>
<body>
<th:block th:replace="~{fragment/header_fragment :: header}"></th:block>
<main>
    <th:block th:if="${baskets.size() == 0}">
        <p>Корзина пуста! Добавьте товары на главной странице</p>
    </th:block>
    <th:block th:each="basket : ${baskets}">
        <p>Название товара: <span th:text="${basket.product.name}"></span></p>
        <p>Цена: <span th:text="${basket.product.price}"></span> тг.</p>
        <p>Количество: <span th:text="${basket.amount}"></span> шт.</p>
        <form th:action="@{/basket/{id}/increase(id = ${basket.id})}" th:method="POST">
            <button type="submit">+</button>
        </form>
        <form th:action="@{/basket/{id}/decrease(id = ${basket.id})}" th:method="POST">
            <button type="submit">-</button>
        </form>
        <form th:action="@{/basket/{id}(id = ${basket.id})}" th:method="POST">
            <button type="submit">Удалить товар</button>
        </form>
        <hr>
    </th:block>
    <h5>Общая сумма: <span th:text="${totalSum}"></span></h5>
    <form th:action="@{/orders/create}" th:method="POST">
        <input type="submit" class="btn btn-outline-success" th:classappend="${isBasketEmpty == true ? 'disabled' : ''}" value="Оформить заказ"/>
    </form>
    <a href="/products" class="btn btn-outline-primary">Выйти из корзины</a>
</main>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>