<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<th:block th:replace="~{fragment/head_fragment :: head('Список заказов')}"></th:block>
<body>
<th:block th:replace="~{fragment/header_fragment :: header}"></th:block>

<main>
    <th:block th:each="order : ${orders}">
        <p>Код заказа: <b th:text="${order.number}"/></p>
        <p>Статус: <b th:text="${order.status}"/></p>
        <th:block th:each="basket : ${order.baskets}" th:style="${'border-bottom:1px'}">
            <p>Название товара: <span th:text="${basket.product.name}"></span></p>
            <p>Цена: <span th:text="${basket.product.price}"></span> тг.</p>
            <p>Количество: <span th:text="${basket.amount}"></span> шт.</p>
        </th:block>
        <h5>Общая сумма: <span th:text="${order.totalSum}"></span></h5>
        <form th:action="@{/orders/{id}/cancel(id = ${order.id})}" th:method="POST">
            <input type="submit" class="btn btn-outline-success" th:classappend="${order.status != order.status.PENDING ? 'disabled' : ''}" value="Отменить заказ"/>
        </form>
        <hr>
    </th:block>
    <a href="/products" class="btn btn-outline-primary">Вернуться к товарам</a>
</main>

</body>
</html>